# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/

# MSBuild artifacts
*.tlog
*.lastbuildstate

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg
packages/

# Publish output
publish/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
